@model IEnumerable<MVCStudent.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Student List</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>

                </tr>

            }
</table>
